﻿.btn {
    height: 40px;
    padding:0 10px;
    font-weight: 700;
    line-height: 1em;
    border-radius: 40px;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    border: 1px solid #e44c29;
    background-color: #e44c29;
    &:hover {
        color: #e44c29;
        background-color: transparent;
    }
    &.inverse {
        color: #e44c29;
        background-color: transparent;
        font-weight: 400;
        &:hover {
            color: #fff;
            background-color: #e44c29;
        }
    }   

}
.btn-white {
    color: #424446;
    border: 1px solid #fff;
    background-color: #fff;
    &:hover {
        color: #fff;
        background-color: transparent;
    }
    &.inverse {
        color: #fff;
        background-color:transparent;
        font-weight: 400;
        &:hover {
            color: #424446;
            background-color: #fff;
        }
    }
}
.btn-gray {
    color: #424446;
    background-color: #ddd;
}

.btn-sm {
    height: 27px;
    font-size: 13px;
    font-weight: 600;
    line-height: 27px;
}


.see-more {
    color: #b1b1b2;
    font-size: 13px;
    font-weight: 600;
    i.icon {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        margin-left: 10px;
        background-size: 100%;
        background-position: center;
        background-image: url('../images/see-more-icon.png');
    }
}