﻿

* {
    margin: 0;
    padding: 0;
}

a,
.btn {
    &:hover,
    &:active,&:focus, {
        outline: none;
        text-decoration: none;
        @include transition(.3s);
    }
}

h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}

.nopadding {
    padding:0;
}
.nopadding-right {
    padding-right:0;
}
.nopadding-left {
    padding-left:0;   
}

ul {
    list-style: none;
}

.row {
    @include clearfix;
}

section {

}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}