﻿
.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity:0;
    background-color: rgba(0,0,0,0.78);
    @include transform(translateY(-100%));
    @include transition(opacity 0.8s, transform 0s 0.8s);
    .close-popup {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 13px;
        height: 13px;
        padding:0;
        margin:0;
        border:0;
        background-color: transparent;
        cursor: pointer;
        &:before,
        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 13px;
            height: 1px;
            background-color: #a2a2a2;
        }
        &:before {
            @include transform(rotate(45deg));
        }
        &:after {
            @include transform(rotate(-45deg));
        }
    }
    .popup-body {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-width: 790px;
        min-height: 155px;
        padding: 50px;
        @include transform(translate(-50%,-60%));
        background-color: #1f1f22;
        border-radius: 9px;
        overflow: hidden;
        opacity:0;
        @include transition(opacity 1s ease-in-out, transform 1s ease-in-out)
    }
    &.buy-tickets {
        .popup-body {
            color: #fff;
            .thumbnail {
                float: left;
                margin-bottom: 0;
                margin-right: 40px;
            }
            h2 {
                margin-bottom: 5px;
                font-weight: 600;
                line-height: 20px;
            }
            h5 {
                margin-bottom: 35px;
                font-weight: 300;
                line-height: 20px;
                opacity: 0.5;
            }
            .session-details {
                color: #d1d1d1;
                font-weight: 400;
                margin-bottom: 10px;
                span {
                    color: #fff;
                    font-size: 18px;
                    font-weight: 600;
                }
                .btn {
                    position: relative;
                    top: -1px;
                    display: inline-block;
                    margin-left: 15px;
                    height: 31px;
                }
            }
            .btn-primary {
                margin-top: 30px;
            }
        }
    }
    &._active_popup {
        @include transform(translateY(0%));
        @include transition(opacity 0.8s, transform 0s 0s);
        opacity: 1;
        .popup-body {
            opacity: 1;
            @include transform(translate(-50%,-50%));
        }
    }
}