﻿
.films-list-section {
    h3 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-top: 40px;
        margin-bottom: 28px;
        .see-more {
            float: right;
        }
    }
    
    .films-list {
        @include clearfix;
        .list-item {
            float: left;
            width: 180px;
            margin-right: 20px;
            margin-bottom: 40px;
            &:nth-child(6n) {
                margin-right: 0;
            }
            
            h5 {
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                line-height: 14px;
                margin-bottom: 12px;
            }
            h6 {
                color: #898989;
                font-weight: 300;
                line-height: 20px;
            }
        }
    }
}


.thumbnail {
    width: 180px;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 25px;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    .flag {
        position: absolute;
        top: 0;
        right: 7px;
        width: 47px;
        height: 55px;
        background-position: center;
        background-size: 100%;
        background-image: url('../images/flag.png');
        i.icon {
            position: absolute;
            top: 10px;
            left: 14px;
            width: 17px;
            height: 15px;
            background-position: center;
            background-size: 100%;
            background-image: url('../images/cup-icon.png');
        }
        .cup-num {
            position: absolute;
            top: 24px;
            left: 0;
            width: 43px;
            height: 20px;
            color: #483104;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
        }
    }
}