﻿
.main-slider {
    .slide {
        position: relative;
        height: 635px;
        .right-side {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 100%;
            padding: 65px 0 0 40px;
            background-color: rgba(0,0,0,0.8);
            header {
                color: #fff;
                font-weight: 600;
                margin-bottom: 20px;
            }
            .title {
                margin-bottom: 10px;
            }
            .subtitle {

            }
            
            .next-session-title {
                margin-bottom: 10px;
                color: #c6c6c6;
                font-weight: 400;
                line-height: 20px;
            }
            .session-time {
                width: 206px;
                height: 100px;
                margin-bottom: 15px;
                background-color: #fff;
                border-radius: 10px 9px 9px 10px;
                font-size: 58px;
                text-align: center;
                font-weight: 600;
                line-height: 100px;
            }
            
            .available-seats {
                margin-bottom: 50px;
                color: #d1d1d1;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                span {
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .sessiontoday {
                margin-bottom: 10px;
                color: #d1d1d1;
                font-weight: 400;
                line-height: 20px;
            }
            .session-time-list {
                @include clearfix;
                max-width: 350px;
                margin-bottom: 40px;
                li {
                    float: left;
                    width: 52px;
                    height: 27px;
                    margin-right: 15px;
                    margin-bottom: 10px;
                    background-color: #e44c29;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 27px;
                    text-align: center;
                    border-radius: 50px;        
                    &._not-active {
                        color: #898989;
                        font-weight: 400;
                        background-color: transparent;
                    }
                }
            }

            .btn {
                width: 130px;
                margin-right: 27px;
            }
        }
    }
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    li {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin:0 5px;
        border-radius:13px;
        overflow: hidden;
        background-color: #c6c6c6;
        @include transition(background-color 0.5s);
        &.slick-active {
            background-color: #e44c29;
        }
        button {
            display: block;
            width: 13px;
            height: 13px;
            font-size: 0;
            line-height: 0;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }
    }
}

.score-row {
    @include clearfix;
    margin-bottom: 35px;
    .age {
        float: left;
        width: 36px;
        height: 18px;
        margin-right: 5px;
        text-align: center;
        font-size: 10px;
        line-height: 18px;
        background-color: #d1d1d1;
        border-radius: 5px 4px 4px 5px;
    }   
    .score-stars {
        @include clearfix;
        float: left;
        margin-top: 2px;
        .star-five {
            float: left;
            margin-right:-15px;
            border-bottom-color: #a2a2a2;
            &:after,
            &:before {
                border-bottom-color: #a2a2a2;
            }
        }
        &._one_star {
            .star-five {
                &:nth-child(1) {
                    border-bottom-color: #e44c29;
                    &:after,
                    &:before {
                        border-bottom-color: #e44c29;
                    }
                }
            }
        }
        &._two_star {
            .star-five {
                &:nth-child(1),
                &:nth-child(2) {
                    border-bottom-color: #e44c29;
                    &:after,
                    &:before {
                        border-bottom-color: #e44c29;
                    }
                }
            }
        }
        &._three_star {
            .star-five {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    border-bottom-color: #e44c29;
                    &:after,
                    &:before {
                        border-bottom-color: #e44c29;
                    }
                }
            }
        }
        &._four_star {
            .star-five {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    border-bottom-color: #e44c29;
                    &:after,
                    &:before {
                        border-bottom-color: #e44c29;
                    }
                }
            }
        }
        &._five_star {
            .star-five {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    border-bottom-color: #e44c29;
                    &:after,
                    &:before {
                        border-bottom-color: #e44c29;
                    }
                }
            }
        }
    } 
}

.star-five {
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right:  20px solid transparent;
    border-bottom: 14px  solid #e44c29;
    border-left:   20px solid transparent;
    @include transform(rotate(35deg) scale(0.4));
    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        top: -8px;
        left: -13px;
        border-bottom: 13px solid #e44c29;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        @include transform(rotate(-35deg));
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: -20px;
        width: 0px;
        height: 0px;
        color: red;
        border-right: 20px solid transparent;
        border-bottom: 14px solid #e44c29;
        border-left: 20px solid transparent;
        @include transform(rotate(-70deg));
    }
}
