﻿

@import "../bourbon/_bourbon";
@import "../neat/_neat";


$mainFont: 'Open Sans', sans-serif;



// colors
$mainColor: #FFD658;
$whiteColor: #fff;

html {
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100%; 
    margin: 0; 
    font-size: 14px;
    line-height: 1.4em;
    font-family:$mainFont;
    font-weight: 400; 
    font-style: normal; 
    background-color: #000;
    -webkit-backface-visibility: hidden;
}



@import "general";
@import "buttons";
@import "slider";
@import "preview_film";
@import "popup";



















