html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  min-height: 100%; }

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #000;
  -webkit-backface-visibility: hidden; }

* {
  margin: 0;
  padding: 0; }

a:hover, a:active, a:focus,
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.nopadding {
  padding: 0; }

.nopadding-right {
  padding-right: 0; }

.nopadding-left {
  padding-left: 0; }

ul {
  list-style: none; }

.row::after {
  clear: both;
  content: "";
  display: table; }

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto; }

.btn {
  height: 40px;
  padding: 0 10px;
  font-weight: 700;
  line-height: 1em;
  border-radius: 40px;
  cursor: pointer; }

.btn-primary {
  color: #fff;
  border: 1px solid #e44c29;
  background-color: #e44c29; }
  .btn-primary:hover {
    color: #e44c29;
    background-color: transparent; }
  .btn-primary.inverse {
    color: #e44c29;
    background-color: transparent;
    font-weight: 400; }
    .btn-primary.inverse:hover {
      color: #fff;
      background-color: #e44c29; }

.btn-white {
  color: #424446;
  border: 1px solid #fff;
  background-color: #fff; }
  .btn-white:hover {
    color: #fff;
    background-color: transparent; }
  .btn-white.inverse {
    color: #fff;
    background-color: transparent;
    font-weight: 400; }
    .btn-white.inverse:hover {
      color: #424446;
      background-color: #fff; }

.btn-gray {
  color: #424446;
  background-color: #ddd; }

.btn-sm {
  height: 27px;
  font-size: 13px;
  font-weight: 600;
  line-height: 27px; }

.see-more {
  color: #b1b1b2;
  font-size: 13px;
  font-weight: 600; }
  .see-more i.icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-size: 100%;
    background-position: center;
    background-image: url("../images/see-more-icon.png"); }

.main-slider .slide {
  position: relative;
  height: 635px; }
  .main-slider .slide .right-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 65px 0 0 40px;
    background-color: rgba(0, 0, 0, 0.8); }
    .main-slider .slide .right-side header {
      color: #fff;
      font-weight: 600;
      margin-bottom: 20px; }
    .main-slider .slide .right-side .title {
      margin-bottom: 10px; }
    .main-slider .slide .right-side .next-session-title {
      margin-bottom: 10px;
      color: #c6c6c6;
      font-weight: 400;
      line-height: 20px; }
    .main-slider .slide .right-side .session-time {
      width: 206px;
      height: 100px;
      margin-bottom: 15px;
      background-color: #fff;
      border-radius: 10px 9px 9px 10px;
      font-size: 58px;
      text-align: center;
      font-weight: 600;
      line-height: 100px; }
    .main-slider .slide .right-side .available-seats {
      margin-bottom: 50px;
      color: #d1d1d1;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400; }
      .main-slider .slide .right-side .available-seats span {
        font-size: 18px;
        font-weight: 600; }
    .main-slider .slide .right-side .sessiontoday {
      margin-bottom: 10px;
      color: #d1d1d1;
      font-weight: 400;
      line-height: 20px; }
    .main-slider .slide .right-side .session-time-list {
      max-width: 350px;
      margin-bottom: 40px; }
      .main-slider .slide .right-side .session-time-list::after {
        clear: both;
        content: "";
        display: table; }
      .main-slider .slide .right-side .session-time-list li {
        float: left;
        width: 52px;
        height: 27px;
        margin-right: 15px;
        margin-bottom: 10px;
        background-color: #e44c29;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;
        border-radius: 50px; }
        .main-slider .slide .right-side .session-time-list li._not-active {
          color: #898989;
          font-weight: 400;
          background-color: transparent; }
    .main-slider .slide .right-side .btn {
      width: 130px;
      margin-right: 27px; }

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 5px;
    border-radius: 13px;
    overflow: hidden;
    background-color: #c6c6c6;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .slick-dots li.slick-active {
      background-color: #e44c29; }
    .slick-dots li button {
      display: block;
      width: 13px;
      height: 13px;
      font-size: 0;
      line-height: 0;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent; }

.score-row {
  margin-bottom: 35px; }
  .score-row::after {
    clear: both;
    content: "";
    display: table; }
  .score-row .age {
    float: left;
    width: 36px;
    height: 18px;
    margin-right: 5px;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
    background-color: #d1d1d1;
    border-radius: 5px 4px 4px 5px; }
  .score-row .score-stars {
    float: left;
    margin-top: 2px; }
    .score-row .score-stars::after {
      clear: both;
      content: "";
      display: table; }
    .score-row .score-stars .star-five {
      float: left;
      margin-right: -15px;
      border-bottom-color: #a2a2a2; }
      .score-row .score-stars .star-five:after, .score-row .score-stars .star-five:before {
        border-bottom-color: #a2a2a2; }
    .score-row .score-stars._one_star .star-five:nth-child(1) {
      border-bottom-color: #e44c29; }
      .score-row .score-stars._one_star .star-five:nth-child(1):after, .score-row .score-stars._one_star .star-five:nth-child(1):before {
        border-bottom-color: #e44c29; }
    .score-row .score-stars._two_star .star-five:nth-child(1), .score-row .score-stars._two_star .star-five:nth-child(2) {
      border-bottom-color: #e44c29; }
      .score-row .score-stars._two_star .star-five:nth-child(1):after, .score-row .score-stars._two_star .star-five:nth-child(1):before, .score-row .score-stars._two_star .star-five:nth-child(2):after, .score-row .score-stars._two_star .star-five:nth-child(2):before {
        border-bottom-color: #e44c29; }
    .score-row .score-stars._three_star .star-five:nth-child(1), .score-row .score-stars._three_star .star-five:nth-child(2), .score-row .score-stars._three_star .star-five:nth-child(3) {
      border-bottom-color: #e44c29; }
      .score-row .score-stars._three_star .star-five:nth-child(1):after, .score-row .score-stars._three_star .star-five:nth-child(1):before, .score-row .score-stars._three_star .star-five:nth-child(2):after, .score-row .score-stars._three_star .star-five:nth-child(2):before, .score-row .score-stars._three_star .star-five:nth-child(3):after, .score-row .score-stars._three_star .star-five:nth-child(3):before {
        border-bottom-color: #e44c29; }
    .score-row .score-stars._four_star .star-five:nth-child(1), .score-row .score-stars._four_star .star-five:nth-child(2), .score-row .score-stars._four_star .star-five:nth-child(3), .score-row .score-stars._four_star .star-five:nth-child(4) {
      border-bottom-color: #e44c29; }
      .score-row .score-stars._four_star .star-five:nth-child(1):after, .score-row .score-stars._four_star .star-five:nth-child(1):before, .score-row .score-stars._four_star .star-five:nth-child(2):after, .score-row .score-stars._four_star .star-five:nth-child(2):before, .score-row .score-stars._four_star .star-five:nth-child(3):after, .score-row .score-stars._four_star .star-five:nth-child(3):before, .score-row .score-stars._four_star .star-five:nth-child(4):after, .score-row .score-stars._four_star .star-five:nth-child(4):before {
        border-bottom-color: #e44c29; }
    .score-row .score-stars._five_star .star-five:nth-child(1), .score-row .score-stars._five_star .star-five:nth-child(2), .score-row .score-stars._five_star .star-five:nth-child(3), .score-row .score-stars._five_star .star-five:nth-child(4), .score-row .score-stars._five_star .star-five:nth-child(5) {
      border-bottom-color: #e44c29; }
      .score-row .score-stars._five_star .star-five:nth-child(1):after, .score-row .score-stars._five_star .star-five:nth-child(1):before, .score-row .score-stars._five_star .star-five:nth-child(2):after, .score-row .score-stars._five_star .star-five:nth-child(2):before, .score-row .score-stars._five_star .star-five:nth-child(3):after, .score-row .score-stars._five_star .star-five:nth-child(3):before, .score-row .score-stars._five_star .star-five:nth-child(4):after, .score-row .score-stars._five_star .star-five:nth-child(4):before, .score-row .score-stars._five_star .star-five:nth-child(5):after, .score-row .score-stars._five_star .star-five:nth-child(5):before {
        border-bottom-color: #e44c29; }

.star-five {
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 20px solid transparent;
  border-bottom: 14px  solid #e44c29;
  border-left: 20px solid transparent;
  -webkit-transform: rotate(35deg) scale(0.4);
  -moz-transform: rotate(35deg) scale(0.4);
  -ms-transform: rotate(35deg) scale(0.4);
  -o-transform: rotate(35deg) scale(0.4);
  transform: rotate(35deg) scale(0.4); }
  .star-five:before {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: -8px;
    left: -13px;
    border-bottom: 13px solid #e44c29;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg); }
  .star-five:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -20px;
    width: 0px;
    height: 0px;
    color: red;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #e44c29;
    border-left: 20px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    transform: rotate(-70deg); }

.films-list-section h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 40px;
  margin-bottom: 28px; }
  .films-list-section h3 .see-more {
    float: right; }
.films-list-section .films-list::after {
  clear: both;
  content: "";
  display: table; }
.films-list-section .films-list .list-item {
  float: left;
  width: 180px;
  margin-right: 20px;
  margin-bottom: 40px; }
  .films-list-section .films-list .list-item:nth-child(6n) {
    margin-right: 0; }
  .films-list-section .films-list .list-item h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    margin-bottom: 12px; }
  .films-list-section .films-list .list-item h6 {
    color: #898989;
    font-weight: 300;
    line-height: 20px; }

.thumbnail {
  width: 180px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 25px; }
  .thumbnail img {
    display: block;
    width: 100%;
    height: auto; }
  .thumbnail .flag {
    position: absolute;
    top: 0;
    right: 7px;
    width: 47px;
    height: 55px;
    background-position: center;
    background-size: 100%;
    background-image: url("../images/flag.png"); }
    .thumbnail .flag i.icon {
      position: absolute;
      top: 10px;
      left: 14px;
      width: 17px;
      height: 15px;
      background-position: center;
      background-size: 100%;
      background-image: url("../images/cup-icon.png"); }
    .thumbnail .flag .cup-num {
      position: absolute;
      top: 24px;
      left: 0;
      width: 43px;
      height: 20px;
      color: #483104;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.78);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: opacity 0.8s, -webkit-transform 0s 0.8s;
  -moz-transition: opacity 0.8s, -moz-transform 0s 0.8s;
  transition: opacity 0.8s, transform 0s 0.8s; }
  .popup .close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer; }
    .popup .close-popup:before, .popup .close-popup:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 13px;
      height: 1px;
      background-color: #a2a2a2; }
    .popup .close-popup:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .popup .close-popup:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .popup .popup-body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 790px;
    min-height: 155px;
    padding: 50px;
    -webkit-transform: translate(-50%, -60%);
    -moz-transform: translate(-50%, -60%);
    -ms-transform: translate(-50%, -60%);
    -o-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    background-color: #1f1f22;
    border-radius: 9px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out, -moz-transform 1s ease-in-out;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; }
  .popup.buy-tickets .popup-body {
    color: #fff; }
    .popup.buy-tickets .popup-body .thumbnail {
      float: left;
      margin-bottom: 0;
      margin-right: 40px; }
    .popup.buy-tickets .popup-body h2 {
      margin-bottom: 5px;
      font-weight: 600;
      line-height: 20px; }
    .popup.buy-tickets .popup-body h5 {
      margin-bottom: 35px;
      font-weight: 300;
      line-height: 20px;
      opacity: 0.5; }
    .popup.buy-tickets .popup-body .session-details {
      color: #d1d1d1;
      font-weight: 400;
      margin-bottom: 10px; }
      .popup.buy-tickets .popup-body .session-details span {
        color: #fff;
        font-size: 18px;
        font-weight: 600; }
      .popup.buy-tickets .popup-body .session-details .btn {
        position: relative;
        top: -1px;
        display: inline-block;
        margin-left: 15px;
        height: 31px; }
    .popup.buy-tickets .popup-body .btn-primary {
      margin-top: 30px; }
  .popup._active_popup {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: opacity 0.8s, -webkit-transform 0s 0s;
    -moz-transition: opacity 0.8s, -moz-transform 0s 0s;
    transition: opacity 0.8s, transform 0s 0s;
    opacity: 1; }
    .popup._active_popup .popup-body {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

/*# sourceMappingURL=style.css.map */
